@import "styles/var";


.menu {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	top: 100%;
	background: #131313;
	padding: 8px 0;
	opacity: 0;
	transition: .3s ease;
	z-index: 1999;
	padding-bottom: 40px;

	li {
		width: 100%;
		padding: 10px 20px 10px 40px;

		color: $white;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;

		&:hover,
		&:active,
		&:focus {
			background: rgb(0, 0, 0);
		}
	}
}

.burgerHeader {
	font-family: Roboto;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: $white;

	padding: 6px 25px 13px;
	margin-bottom: 20px;

}

.burgerLink {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.open {
	opacity: 1;
	transition: .3s ease;
}